<!DOCTYPE html>
<html lang = "en">
<head>
    <title> {% block title%} Project 5 {% endblock%}</title>
    {%block style%} 
    <style>

        .center {
            margin-left: auto;
            margin-right: auto;
          }

    </style>
    
    {%endblock%}
</head>
<body>
    <div style = "text-align : center">
        {% block body %}
        
        
        
        
        
        
        
        
        
        
        
        
        
        {%endblock%}
    </div>
</body>
</html>